<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./main_6.css">

  <style>
    /* 단방향 애니메이션을 만드는 step 
      1. 시작 스타일 만들기(before)
      2. 최종 스타일 만들기(after)
      3. 언제, 어떻게 했을때 변하는지 정의(예: 마우스 올렸을 때)
        -> CSS 만으로는 hover가 최대임, JS 배우면 클릭 시, 드래그 시, 키 입력 시 등 전부 활용 가능
      4. transition 적용
    */

  </style>
</head>
<body>
  <div class="shop-background">
    <div class="shop-container">
      <div class="shop-item">
        <img src="./images/product1.jpg" alt="상품1">
        <div class="overlay">이 상품은...</div>
      </div>
      <div class="shop-item">
        <img src="./images/product2.jpg" alt="상품2">
        <div class="button">
          <button type="button" class="btn">상세보기</button>
          <button type="button" class="btn">구매하기</button>
        </div>
      </div>
      <div class="shop-item">
        <img src="./images/product3.jpg" alt="상품3">
        <div class="overlay-up">
          <span class="price">Price: $4</span>
        </div>
      </div>
    </div>
  </div>
  
</body>
</html>