*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  font-family: "Noto Sans KR", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  overflow-x: hidden;
}
li{
  list-style: none;
}
#header{
  background-color: transparent;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
}
.title{
  text-align: center;
  font-size: 50px;
  font-weight: 800;
}
.inner{
  max-width: 1200;
  margin: 0 auto;
  /* background-image: url('../images/wp12243820.jpg'); */
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
  padding: 30px;
}
#header > .inner{
  height: 70px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 30px;
}
#header a{
  text-decoration: none;
  color: rgb(181, 204, 50);
}
#header h1{
  font-size: 30px;
}
#header ul{
  display: flex;
}
#header ul li{
  margin-right: 20px;
  font-size: 20px;
}
img{
  display: block;
}
.animate-rotate{
  animation-name: rotate;
  animation-duration: 0.5s ;
  animation-iteration-count: 5;
}

/* VISUAL */
.visual{
  width: 100%;
  background-image: url('../images/wp12243820.jpg');
  background-size: cover;
  color: white;
}
.visual span{
  display: inline-block;
}
.visual > .inner{
  height: calc(100vh - 60px);
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.visual > .inner .purple{
  color: rgb(34, 166, 206);
}

/* ABOUT */
.about{
  padding: 150px 0;
}
.about > .inner{
  /* position: relative; */
}
.about > .inner .about__wrapper{
  display: flex;
  justify-content: space-between;
}
.about .about__wrapper .about__image{
  width: 40%;
}

.about .about__wrapper .about__image img{
  height: 500px;
  width: 100%;
  border-radius: 50%;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.1);
}
.about .about__wrapper .about__text{
  width: 40%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  /* justify는 주축기준 현재는 수직 */
  justify-content: space-evenly;
}
.about .about__wrapper .about__text .slogan{
  font-size: 35px;
  font-weight: bold;
}
.about .about__wrapper .about__text h3{
  font-size: 20px;
  font-weight: 600;
}
.about .about__wrapper .about__text h4{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
}
.about .about__wrapper .about__text li{
  line-height: 2;
}




/* SKILL */
.skill{
  background-color: #f9c51d;
  height: 700px;
  position: relative;
}
.skill .skill-title h3{
  background-color: transparent;
  font-size: 50px;
  color: black;
  padding: 40px 0 20px;
}
.skill .skill-title h3 span{
  font-size: 40px;
  padding-right: 10px;
}
.skill .skill-trees{
  width: 80%;
  height: 330px;
  background-color: hsla(0, 0%, 100%, .8);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.skill .skill-tree{
  display: flex;
}
#skill > div > div.skill-trees > div > div > h4{
  padding-left: 5px;
}
.skill .skill-tree ul{
  display: flex;
  padding: 30px;
}
.skill .skill-tree ul li{
  margin-right: 20px;
}
/* #skill .subtitle{
  vertical-align: middle;
} */
#skill > div > div.skill-trees > div:nth-child(1) > ul > li:nth-child(1){
  background-color: rgb(151, 150, 153);
  border: 1px #333;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700px;
  padding: 8px;
}
#skill > div > div.skill-trees > div:nth-child(1) > ul > li:nth-child(2){
  background-color: pink;
  border: 1px  #333;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700px;
  padding: 8px;
}
#skill > div > div.skill-trees > div:nth-child(1) > ul > li:nth-child(3){
  background-color: rgb(235, 213, 21);
  border: 1px #333;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700px;
  padding: 8px;
}
#skill > div > div.skill-trees > div:nth-child(2) > ul > li:nth-child(1){
  background-color: rgb(72, 23, 163);
  border: 1px #333;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700px;
  padding: 8px;
}
#skill > div > div.skill-trees > div:nth-child(2) > ul > li:nth-child(2){
  background-color: rgb(24, 151, 109);
  border: 1px #333;
  color: #fff;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700px;
  padding: 8px;
}
#skill > div > div.skill-trees > div:nth-child(3) > ul > li:nth-child(1){
  background-color: rgb(129, 225, 97);
  border: 1px #333;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700px;
  padding: 8px;
}
#skill > div > div.skill-trees > div:nth-child(3) > ul > li:nth-child(2){
  background-color: rgb(196, 45, 153);
  border: 1px #333;
  color: #fff;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 700px;
  padding: 8px;
}
#skill > div > div.skill-trees > div div{
  padding: 37px;
}

#skill > div > div.skill-trees div > div{
  display: flex;
}
@keyframes rotate{
  0%{transform: scale(1.3) rotate(-20deg);}
  50%{transform: scale(1.3) rotate(20deg);}
  100%{transform: scale(1.3)rotate(-20deg);}
}
