/* 4. import 방식 : CSS내에서 다른 CSS 파일을 가져와 연결 */
/* main.css 파일의 해석이 끝나고 가져옴(해석 속도 느림, 일반적인 경우 권장 X) */
/* 직렬방식 */
/* @import url("./box.css"); */

div{
  color: blue;
  font-size: 50px;
  text-decoration: underline;
}