/* https://jieun-portfolio.vercel.app/
  멋있는 포트폴리오 참고용
*/




*{
  box-sizing: border-box;
}
body{
  font-family: "Noto Sans KR", sans-serif;
  font-size: 20px;
  color: #ccc;
  overflow-x: hidden;
}
a{
  text-decoration: none;
  color: black;
  font-weight: 700;
}
.animate-flash{
  animation-name: flash;
  animation-duration: 0.5s;
  animation-timing-function: cubic-bezier(.43, .19, .44, 1);
  /* animation 반복횟수 */
  animation-iteration-count: 2;
}
header{
  background-color: #fff;
  border-bottom: 1px solid #000;
  box-shadow: 0px 2px 5px #ccc;
  display: fixed;
  width: 100%;
  top: 0%;
  z-index: 9;
}

header .inner{
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  
}
.inner img{
  width: 100px;
}
header nav ul {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  column-gap: 40px;
}
header nav ul li a:hover{
  color: rgb(73, 73, 199);
  text-shadow: 0px 2px 4px #228;

}
.visual{
  background-color: black;
  color: #fff;
  width: 100%;
}
.visual .inner{
  height: 100vh;
  font-size: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.visual > .inner .purple{
  color: purple;
}

@keyframes flash {
  0%, 50%, 100%{
    opacity : 1
  }
  25%, 75%{
    opacity: 0;
  }
}
